In [4]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia340-2025-fall-harmoni-28280/Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv') # load the data from s3
df.head() #show the top 5 rows
df.tail()

       Draw Date Winning Numbers  Mega Ball  Multiplier
2421  08/08/2025  02 06 08 14 49         12         NaN
2422  08/12/2025  01 08 31 56 67         23         NaN
2423  08/15/2025  04 17 27 34 69         16         NaN
2424  08/19/2025  10 19 24 49 68         10         NaN
2425  08/22/2025  18 30 44 48 50         12         NaN

In [5]:
df.describe()

         Mega Ball   Multiplier
count  2426.000000  1483.000000
mean     17.754328     3.289278
std      12.609006     0.990133
min       1.000000     2.000000
25%       8.000000     2.000000
50%      15.000000     3.000000
75%      25.000000     4.000000
max      52.000000     5.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2426 entries, 0 to 2425
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw Date        2426 non-null   object
 1   Winning Numbers  2426 non-null   object
 2   Mega Ball        2426 non-null   int64
 3   Multiplier       1483 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 75.9+ KB

In [7]:
df.shape

(2426, 4)

In [11]:
df.rename(columns)={'Winning Numbers':'Lucky_Numbers'}

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (704860197.py, line 1)

In [12]:
df.dropna()

       Draw Date Winning Numbers  Mega Ball  Multiplier
0     09/25/2020  20 36 37 48 67         16         2.0
1     09/29/2020  14 39 43 44 67         19         3.0
2     10/02/2020  09 38 47 49 68         25         2.0
3     10/06/2020  15 16 18 39 59         17         3.0
4     10/09/2020  05 11 25 27 64         13         2.0
...          ...             ...        ...         ...
2381  03/21/2025  15 22 31 52 57          2         3.0
2382  03/25/2025  01 05 17 39 62          8         2.0
2383  03/28/2025  02 09 31 60 63         23         5.0
2384  04/01/2025  11 12 21 29 49          3         2.0
2385  04/04/2025  11 28 35 37 69         25         2.0

[1483 rows x 4 columns]

In [13]:
df.isnull().sum

<bound method DataFrame.sum of       Draw Date  Winning Numbers  Mega Ball  Multiplier
0         False            False      False       False
1         False            False      False       False
2         False            False      False       False
3         False            False      False       False
4         False            False      False       False
...         ...              ...        ...         ...
2421      False            False      False        True
2422      False            False      False        True
2423      False            False      False        True
2424      False            False      False        True
2425      False            False      False        True

[2426 rows x 4 columns]>

In [17]:
df = df.rename(columns={'Winning Numbers': 'Lucky Numbers'})

In [19]:
df[5:10]

    Draw Date   Lucky Numbers  Mega Ball  Multiplier
5  10/13/2020  11 44 45 46 70         25         2.0
6  10/16/2020  27 32 50 52 57         12         5.0
7  10/20/2020  46 54 57 58 66         10         3.0
8  10/23/2020  18 34 44 60 69         22         2.0
9  10/27/2020  06 13 34 46 62          1         3.0

In [21]:
df[df['Mega Ball'] > 5]

       Draw Date   Lucky Numbers  Mega Ball  Multiplier
0     09/25/2020  20 36 37 48 67         16         2.0
1     09/29/2020  14 39 43 44 67         19         3.0
2     10/02/2020  09 38 47 49 68         25         2.0
3     10/06/2020  15 16 18 39 59         17         3.0
4     10/09/2020  05 11 25 27 64         13         2.0
...          ...             ...        ...         ...
2421  08/08/2025  02 06 08 14 49         12         NaN
2422  08/12/2025  01 08 31 56 67         23         NaN
2423  08/15/2025  04 17 27 34 69         16         NaN
2424  08/19/2025  10 19 24 49 68         10         NaN
2425  08/22/2025  18 30 44 48 50         12         NaN

[2009 rows x 4 columns]

In [22]:
df["Mega Ball"]

0       16
1       19
2       25
3       17
4       13
        ..
2421    12
2422    23
2423    16
2424    10
2425    12
Name: Mega Ball, Length: 2426, dtype: int64

In [23]:
df.sort_values(by='Mega Ball')

       Draw Date   Lucky Numbers  Mega Ball  Multiplier
731   04/22/2014  02 18 19 49 50          1         3.0
675   11/04/2014  09 15 24 39 41          1         4.0
691   09/09/2014  25 34 55 70 71          1         4.0
693   09/02/2014  01 08 54 69 72          1         3.0
2368  02/04/2025  14 24 31 53 54          1         3.0
...          ...             ...        ...         ...
1948  08/13/2002  03 10 15 18 25         52         NaN
1911  12/20/2002  10 14 41 46 49         52         NaN
1725  10/01/2004  08 10 17 24 39         52         NaN
1727  09/24/2004  11 26 30 49 50         52         NaN
1966  06/11/2002  05 06 09 33 44         52         NaN

[2426 rows x 4 columns]